// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  padding: 10 20 20 20px;
}

table {
  table-layout: fixed;
  word-wrap: break-word;
}

table tr {
  height: 5rem;
}

.new_btns {
  margin: 20px 70px;
}

.show_btn {
  margin: 40px 220px;
}
.row {
  width: 500px;
}
