// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  padding: 10px 20px 20px 20px;
}

table {
  table-layout: fixed;
  word-wrap: break-word;
}

table tr {
  height: 5rem;
}

.new_btns {
  margin: 20px 70px;
}

.show_btn {
  margin: 40px 140px;
}
.row {
  width: 500px;
}

.show th {
  color: #fff;
  background-color: #8a8a8a;
  border: solid 1px #fff;
  padding-left: 2rem;
  padding-right: 4rem;
  border-radius: 8px;
}

.show td {
  background-color: #f5f5f5;
  border: solid 1px #fff;
  padding-left: 2rem;
  padding-right: 4rem;
  border-radius: 8px;
}
